/* font poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body{
    margin: 0;
    padding: 0;
}

/* header : banner style start */
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;  
}
.top-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    border-radius: 30px;
    width: 1100px;
    height: 500px;  
}
.banner-text{
    width: 400px;
    color: white;
    margin-left: 30px;
    font-family: 'Poppins';
    font-size: 20px;
}
#banner-para{
    font-size: 16px;
    font-weight: 400;
}
.watch-btn{
    margin-top: 25px;
    
}
.banner-text a{
    color: white;
    text-decoration: none;
    background-color: #DD0000;
    padding: 16px 20px;
    font-size: 14px;
}
.banner-image{
    margin-top: 100px;
    width: 400px;
    height: 550px;
    margin-left: 80px;
}
.banner-image img{
    width: 450px;
}
/* header : banner style end  */

/* nav and blog section style  */
.blog{
    margin-top: 130px;
}

.nav-container{
    background-color: blueviolet;
    width: 280px;
    height: 250px;
    border-radius: 15px;
    border: 5px solid burlywood;
    
}
.nav-bar{
    display: grid;
    align-items: center;
    width: 200px;
    height: 200px;
    
    row-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    margin-left: 15px;
    
}
.button-btn{
    color: black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    background-color: white;
    border-radius: 10px;
    /* background-image: linear-gradient(red,tomato); */
}
#blog-btn{
    background-color: red;
    color: white;
}
.blog{
    display: flex;
    flex: grow 1;;
    justify-content: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    margin-left: 24px;
            
}
.card-content{
    /* border: 1px solid red; */
    border-radius: 5px;
    width: 290px;
    height: 320px;
    margin-left: 10px;
    box-shadow: 2px 2px 5px lightgray,
    -2px -2px 5px lightgray;
    
}
.card-image img{
    width: 290px;
}
.card-btn,.card-text{
    padding-left: 10px;
    padding-top: 10px;
}
.card-icon{
    margin-left: 10px;
    display: flex;
    gap: 10px;

}

/* footer style  */

footer{
    background-color: black;
    height: 400px;
}
.footer-title{
    border: 1px solid grey;
    text-align: center;
    
    /* position: relative; */
    /* left: 100px; */
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    padding-bottom: 50px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    color: white;
    padding-top: 50px;
}
.contacts-link{
    color: ;
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}
.social-contacts{
    color: white;
    text-decoration: none;
}
.social-media{
    font-size: 30px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column-gap: 40px;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}